:root{
    --backdrop: rgb(255, 195, 121);
}

html {
    background: radial-gradient(rgba(255, 140, 0, 0.5) 0%, darkorange 70%), url("../background/dragon-ball-fighterz-switch-hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

body {
    background: none;
    max-width: 1440px;
    margin: 0 auto;
}

.title-row {
    margin: 80px auto 0;
    width: 80%;
    background-color: var(--backdrop);
    border-radius: 20px;
    padding: 5px;
}

h1, h3, h4 {
    background-color: rgba(0, 0, 0, 0);
    text-shadow: rgba(0, 0, 0, 0.5) 0px 0 15px;
}

.charName {
    white-space: nowrap;
    font-size: 30px;
}

img {
    max-height: 250px;
    background-size: cover;
    position: relative;
    background-color: rgba(245, 222, 179, 0);
}

.Container {
    height: fit-content;
    margin: 20px 2%;
    padding: 20px 0;
    background-color: var(--backdrop);
    border-radius: 50px;
}

.oldTeam {
    width: 40%;
    margin: 20px auto;
    padding: 10px;
    background-color: var(--backdrop);
    border-radius: 10px;
}

.oldTeam section {
    display: flex;
    justify-content: space-evenly;
}

.oldTeam img {
    height: 100px;
    padding-bottom: 10px;
}

.point, .mid, .anchor {
    background: radial-gradient(rgb(255, 255, 255) 1%, rgba(255, 255, 255, 0) 60%);
    border-radius: 50%;
}

.options {
    background-color: var(--backdrop);
    padding: 5% 0;
    width: fit-content;
    height: 40px;
}

.padding {
    margin: 5px auto;
    padding: 0 1%;
    width: fit-content;
    background-color: var(--backdrop);
    border-radius: 10px;
}

.checks {
    display: flex;
    justify-content: space-around;
}

.dlcList {
    margin: 10px auto;
    padding: 0 1%;
    width: fit-content;
    background-color: var(--backdrop);
    border-radius: 10px;
}

.listElements {
    text-decoration: none;
    list-style: none;
    text-align: start;
    padding-bottom: 10px;
}

label {
    background-color: rgba(0, 0, 0, 0);
    text-shadow: black 1px 0 10px;
}

.center {
    margin: 0 auto;
    width: fit-content;
}

.btn-light {
    color: white;
    background-color: var(--backdrop);
    text-shadow: black 1px 0 10px;
}

.btn-light:hover {
    color: black;
    text-shadow: black 0px 0 0px;

}

.hidden {
    visibility: hidden;
}


@media screen and (max-width: 800px) {
    img {
        max-height: 200px;
    }

    .charName {
        font-size: 20px;
    }
}

@media screen and (max-width: 680px) {
    .title-row {
        margin: 20% auto 0;
    }

    .Container {
        margin: 10px 4%;
        padding-top: 20px;
        background-color: var(--backdrop);
        border-radius: 50px;
    }

    img {
        max-height: 150px;
    }

    .oldTeam {
        width: 50%;
    }

    h1, h3, h4 {
        font-size: inherit;
    }
    .charName {
        font-size: 15px;
    }

}

@media screen and (max-width: 500px){

    .charName {
        font-size: 14px;
    }

    img {
        max-height: 100px;
    }

    h1 {
        font-size:  14px;
    }

    h3 {
        font-size: 12px;
    }

    h4 {
        font-size: 10px;
    }
}